<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Agile University</title>
    <link href="/css/simple.css" rel="stylesheet" />
</head>
<body>
    <header><a href="/"><img src="/img/agileuni.png" alt="Agile Uni" /></a></header>

    {{{body}}}

    <footer><br /><i>node.js powered</i></footer>
</body>
</html>
